#downloadButton {
      background-color: white;
      border: none;
      color: black;
      cursor: pointer;
    }
#downloadButton:hover {
      background-color: #8a8884;
    }

body {
  font-family: Calibri, Arial, sans-serif;
}

.certification-blue {
  color: blue;
}

.certification-black {
  color: black;
}



.container {
  text-align: center;
  margin: 0 auto;
  max-width: 600px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2),
              0 0 10px rgba(0, 0, 0, 0.2),
              0 0 10px rgba(0, 0, 0, 0.2),
              0 0 10px rgba(0, 0, 0, 0.2);
}


.name {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.name-left {
  font-family: Calibri, Arial, sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: black;
  text-align: left;
}

.name-right {
  text-align: right;
}

.name-right p {
  font-family: Calibri, Arial, sans-serif;
  font-size: 16px;
  color: black;
  margin: 0;
}

.intro {
  font-family: Calibri, Arial, sans-serif;
  font-size: 16px;
  color: black;
  text-align: left;
}

.section-heading {
  font-family: Calibri, Arial, sans-serif;
  font-size: 28px;
  font-weight: bold;
  color: black;
  text-align: left;
  margin-top: 20px;
  margin-bottom: 10px;
}

.experience-list {
  list-style-type: none;
  padding: 0;
  text-align: left;
}

.position {
  font-family: Calibri, Arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: blue;
  margin-bottom: 5px;
}

.company {
  font-family: Calibri, Arial, sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: black;
  margin: 0;
}

.responsibilities {
  list-style-type: disc;
  padding-left: 20px;
  margin-top: 5px;
  margin-bottom: 10px;
}

.skills-list {
  list-style-type: none;
  padding: 0;
  text-align: center;
  margin-bottom: 20px;
}

.skills-list li {
  display: inline;
  margin-right: 10px;
}

.skills-list li::before {
  content: "• ";
}

.education {
  font-family: Calibri, Arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
  text-align: left;
  color: blue;
  margin-bottom: 10px;
}

.certification {
  font-family: Calibri, Arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: blue;
}
